/* .page-detail-wrapper {
  background-color: #f4f4f4;
} */

.page-detail-wrapper .page-body {
  padding-top: 36px;
  padding-bottom: 54px;
  z-index: 2;
}

.container-box.large {
  max-width: 608px;
}

.container-box {
  margin: 0 auto;
  padding: 0 24px;
}

.ant-row-flex-center {
  justify-content: center;
  margin-top: 72px;
}

.ant-col-20 {
  display: block;
  box-sizing: border-box;
  width: 80%;
}

.section-header-action {
  margin-bottom: 28px;
}

.section-header-action .action-heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  display: flex;
  align-items: center;
}

.section-header-action .action-heading .back {
  margin-left: -40px;
  margin-right: 8px;
  padding: 0;
  background: transparent;
  border: none;
}

.section-header-action .action-heading .back img {
  display: block;
  width: 40px;
  height: auto;
}

.center-box {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(92, 8, 8, .06);
  margin-bottom: 24px;
  z-index: 3;
  top: -50px;
}

.center-box .center-box-header {
  color: #fff;
  background-color: #dbdbdb;
  background-size: cover;
  background-position: 50%;
}

.center-box .center-box-header img {
  width: 100%;
  height: auto;
}

.center-box .center-box-body {
  padding: 24px 32px 32px;
}

.center-box .title {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: .5em;
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  font-family: "Kanit", sans-serif;
}

.center-box .detail {
  font-size: 18px;
  margin-top: 28px;
  color: #787878;
  font-family: "Kanit", sans-serif;
}

.center-box-body .detail .description {
  text-align: center;
  margin: 0 auto 24px;
}
