.add-product {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 30px 50px;
  margin: 20px 30px;
  border-radius: 6px;
  background: #fff;
}

.addproduct-itemfield {
  width: 100%;
  color: #7b7b7b;
  font-size: 16px;
}

.addproduct-itemfield input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 15px;
  border: 1px solid #d2d2d2;
  outline: none;
  color: #787878;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
}

.app-product-selector {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  color: #787878;
  border: 1px solid #d2d2d2;
  height: 48px;
  font-size: 14px;
}

.addproduc-thumnail-img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  margin: 10px 0px;
}

.addproduct-btn {
  margin-top: 20xp;
  /* width: 160px; */
  width: 100%;
  height: 48px;
  border-radius: 50px;
  background: #e21c23;
  border: none;
  color: #fff;
}

.addproduct-btn:hover {
  background: #f04343;
}

@media (max-width: 800px) {
  .add-product{
    width: auto;
    padding: 30px;
    margin: 20px;
  }
}